h1{
    font-size: 45px;
    font-family:'Times New Roman', Times, serif;
    color: #000;
    text-align: center;
}
h2{
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: #000;
    text-align: left;
}
p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    color: #000;
}
